#Files to leave out of git commits.
#Note: symbolic links in directories are
#all relative, and will retain their
#correct linkage on transfer to remote.


#ignore mac dir file
.DS_Store

#ignore site-specific config in .htaccess
.htaccess
.user.ini
test.php

#ignore backup files
*~

#ignore vendor directory - will be reconstruted on site

#misc
*.log
logs/

#don't alter normally
public/jslib/

#news directory contains live info.  Don't disturb
public/news/
