/* Styles for asset displays 
	old was thumbs, now asset class
	stick these asset objects inside a div class = asset
	*/

/* asset is the block containing graphic, title, aattribution, etc */
.asset {
	text-align:center;
	margin: 0 0 6px 0;
	 border: 1px solid gray;
	  background:#FFF;
	  display:block;
	  padding:5px;
	  
}
	



.asset img {
		display:block;
        margin-left: auto;
        margin-right: auto;
        padding:0;
              
}

/* float it left, and then float next divison */
div.asset-column {
	float:left;
	display:inline-block;
}

div.asset-column .asset {
/* make assets consistent width 
use inside a div that floats left. 
Assets do not float (but the whole block does)
assets  grow in lenght as needed. - no restriction
*/
    width:230px;

   }
    
.asset-column .asset img {
        width:200px;
}

div.asset_row {

}

div.asset-row::after {
	clear:both;
	content:"";
}

div.asset-row .asset {
/* make thumbs consistent height to floaters line up. */
   height:220px;
   width:210px;
    overflow:auto;
  margin-right:6px;
    float:left;

}

div.asset-row .asset img {
        max-height:200px;
        width:200px;
}


div.asset-center .asset {
    width:100%;
    max-width:440px;
    margin:auto;
    
}
.asset-center .asset img {
        width:100%;
}


.atitle {
	font-size:0.9em;
	text-align:center;
	font-weight:bold;
	margin:3px;
	color:black;
	
	font-family:Helvetica,Arial,sanserif;
	
}
.acaption {
    font-size:0.9em;text-align:center;
    font-style:italic;
    font-weight:normal;
   
    }

.asset a {text-decoration:none;}


.asource{
    font-style:normal;
    font-size:0.8em;
	margin-top: 3px;
	margin-right:6px;
	text-align:right;
	}


