
table#calendar  {
	border:1px solid #030; border-collapse:collapse;
	margin-left:2em; margin-right:2em;
	max-width:800px;

}

table#calendar tr td {padding-left:6px;}
table#calendar tr.first {border-top:1px solid #030;}
table#calendar td.date {text-align:left;width:25%;}
table#calendar td.city {text-align:left;width:20%;}
table#calendar td.event {text-align:left; font-weight:bold;}
table#calendar td.location {
	text-align:left;
	width:55%;
	}
table#calendar td.info {

	}

table#calendar td.info p {
	margin-top:0;
}
