body, .normal {padding:6px;
	font-family: "New Times Roman",Times,serif;
	font-size: 1em; color: black;
	max-width:1200px;
	 width:95vw;
	padding:5px;
	color:black;
	font-style: normal;
	font-weight: normal;
	margin-left:1em;
	margin-right:1em;
	}


p {margin-top: 1em;
	font-style: normal; font-size: 1em;
	}

h1 {}

h2 {font-family: Arial,san-serif; font-size: 2em; color: black;
	border-top:5px solid green; border-bottom:5px solid green;
	}
h3 {font-family: Arial,san-serif;
	font-size: 1.5em; color: black;
	border-bottom: 2px solid green;
	}

h4 {font-family: Arial,san-serif; font-size: 1.0em; color: black;}

h5 {
    font-family: Arial,san-serif; font-size: 1.0em; color: black;
    font-weight:bold;
    margin-left:1em;
    }

h6 { margin-top:10px; padding-left: 5px; margin-bottom: 0px; max-width:600px;  font-size: 1em; color: black;  border-bottom:1px solid green; }

li {margin-bottom:0.5em;}

.divh2 {font-family: Arial,san-serif; font-size: 2em; color: black; font-weight:bold;
	border-top:5px solid green;
	margin-top:1em;
	}
	
.indent {margin: 0.5em 3em 0.5em 3em;}
	
.italic { font-style: italic; }

.centered {text-align:center;margin-left:auto;margin-right:auto;}
.right {text-align:right;}

img {padding:5px;}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }


td {vertical-align: top;}

.left {display:block;float:left;margin:3px;margin-left:0px; overflow:auto;}
.clear {clear:both;}



.highlight {color:black;font-weight:bold;background-color:yellow;}
.greenlight {color:black;font-weight:bold;background-color:#3c9;}
.green {color:green;}
.red {color:red;}
.blue {color:blue;}
.greeni {color:green;font-style:italic;}
.redi {color:red;font-style:italic;}
.bluei {color:blue;font-style:italic;}
.small {font-size:0.8em;margin-top:3px;margin-bottom:3px;}
.grayback {background:#CCC;}
.tright {text-align:right;}

blockquote, .quoted {
    display:block;
    border-left:2px solid #030;
    padding-left:1em;
    font-style:normal;
    color:#363;
    }
blockquote p, .quoted p {
    padding-left:1em;
}
.inner {margin-left:1em;}
.instr {font-style:italic;}
.caption {font-size:0.8em;text-align:center;}
.slogan {font-style:italic; text-align:center; border-top:1px solid green; border-bottom:1px solid green;}

.url {font-family:'courier-new',monospace;font-size:0.8em;margin-left:3em;}

button {
    background:#ccffcc;
}
button:hover {
    background:#99ff99;
}


.input, input {background-color:#eee; }
.required {background-color:#ffffa0;}
input:invalid {color:red;}
input:valid {color:#000;}


div.head {margin: auto;
    /*width: 600px;*/
	vertical-align:bottom;
	}
div.page_head {margin:auto;
   vertical-align:bottom;
   }
p.title {
	text-align:center; color: #396;
	font-family:helvetica,arial,sans-serif;
	font-size: 3em;
	font-weight:bold;float:left;
	margin-left:auto;margin-right:auto;
	margin-bottom:0;
	width:90%;
	}

div.hidden {display:none; border:2px solid green;}

.postsource {
	font-style:italic; margin-left:80px;
}

.source {
    text-align:right;
	font-style:italic;
	margin-bottom: 0px;
	margin-right:2em;
	}

.presource {
    text-align:left;
	font-style:italic;
	margin-top: 0px;
	margin-bottom:6px;

	}

div.toon {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    }

.toon img {margin:auto;}
.toon .source{
    text-align:right;
	font-style:italic;
	margin-bottom: 0px;
	margin-right:2em;
	}
.toon .content {
    font-style:normal;
	margin-left:auto;margin-right:auto;
	padding-left:1em;
    max-width:650px;
	text-align:center;
}

.story_comment_box {
    border:1px solid green;
    margin-top:1em;
    padding:4px;
}

.comment {font-family: arial; font-style: italic; font-size: 0.9em; color: #063; margin-left:1em; margin-right:1em;}
.toon .comment {text-align:center;}
.divh2 .comment {font-style:italic;font-size:0.4em;color:#000;margin-left:1em; margin-right:1em;}

.ed_comment {font-family: arial; font-style: plain; font-size: 0.9em; color: #030; margin-left:1em; margin-right:1em;}

div.ed_comment { font-family: arial; font-style: plain;
    font-size: 0.9em; color: #066;
    margin-left:1em; margin-right:1em;margin-top:1em;
    border-top:2px solid #066;
    }


div.album {
    float:left;width:360px;height:400px;
    display:block;margin:3px;border:1px solid gray;
    padding-left:5px;padding-right:5px;
}

.album img {display:block;
    max-width:350px;max-height:350px;
    margin-left:auto;
    margin-right:auto;
    }
.album p.contributor {
    font-size:0.8em;
    float:right;
	font-style:italic;
	margin:3px;
	margin-left:6px;
	}
.album p.caption {
    font-size:0.8em;
    text-align:left;
    font-style:normal;
    font-family:Helvetica,Arial,sanserif;
    margin:3px;
    margin-right:6px;
    float:left
    }
.album p.title {
    text-align:center;
    font-weight:bold;
}
.album p{margin-top:3px;margin-bottom:3px;}

div.thumb {
    width:220px;
    display:block;
    margin:3px; margin-right:6px; margin-left:0;
    float:left;
    border:1px solid gray;
    padding-left:5px;padding-right:5px;
    background:#FFF;
}

.thumb .caption {
    font-size:0.9em;text-align:center;
    font-style:normal;
    font-family:Helvetica,Arial,sanserif;
    margin:3px;
    }
.thumb a {text-decoration:none;}

.thumb img {
        max-width:200px;
        max-height:200px;
        display:block;
        margin-left: auto;
        margin-right: auto
    }

.thumb .source {
    font-style:italic;
    font-size:0.8em;
	margin-top: 3px;
	margin-right:6px;
	text-align:right;
	}



div.warning {
    border:1px solid black;
    color:red;
    padding:3px;
    width: 50%;
}



.update_data {margin-left: 0;}

.update_data table {
	border:0;

	layout:fixed;
	max-width:800px;
	border-collapse:collapse;
	}
.update_data  tr {font-size:1em;vertical-align:top;}
/* tr.brow {border-top:1px solid #363;} */
.update_data  h3 {font-size:1em;font-weight:bold;margin-bottom:0;}
.update_data  td.username {font-weight:bold; width:200px;vertical-align:top;}
.update_data  td.location { width:200px;vertical-align:top;}
.update_data  td.email { width:200px;vertical-align:top;}
.update_data  td.notes {padding:4px;}
.update_data  td.joined {width:150px;}
.update_data  td.current{max-width:400px;}
.update_data  .greeting{font-style:normal;color:#060;padding:4px;}
.update_data .atamd {font-style:italic;}


.assets .source {}
.assets .title {}

table#calendar  {
	border:1px solid #030; border-collapse:collapse;
	margin-left:2em; margin-right:2em;
	
}

table#calendar  td {padding:3px;font-size:0.9em;}
table#calendar tr.first {border-top:1px solid #030;}
table#calendar td.date {width:20%}
table#calendar td.event {width:40%}
table#calendar td.location {width:40%}


table td.gtop {border-top:1px solid gray;}

table.article_list {
	padding:3px; border:1px solid green;
	border-collapse:collapse;
	}
table.article_list tr td {padding:4px; font-size:0.9em;}
table.article_list tr th {padding:6px; font-weight:bold;text-align:center;
	background: #CFC;}

table.alternate tr:nth-child(even) {background: #EEE}
table.alternate tr:nth-child(odd) {background: #FFF}

div.comment_box {
     margin-left:2em;
     margin-bottom:6px;
    width:600px;
    border:1px solid #ccc;
    padding:3px;


}

div.article {

	margin-left:1em;
	border-top:1px solid #360;
    max-width:1000px;
	}

.article .head {
	margin-left:0;margin-bottom:1em;
}

.article .type {
	
	font-style:italic;
	text-decoration: underline;
	}

.article .headline {
	font: bold 1em arial,serif;
}

.contributor {
    display:block;
	text-align:right;
	font-style:italic;
	font-size:0.8em;
	}

.article   .date {
	font-weight:normal;
	font-style:italic;
	padding-left:1em;

	}

.content {
	font-style:normal;
	margin-right:2em;


	}

.article .body {
	margin-left:1em;
	float:left;
	max-width:720px;
	width:100%;

}
/* amd news styles */

    .article.body.p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.3px Arial; -webkit-text-stroke: #000000}
    .article.body.li.li1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.3px Arial; -webkit-text-stroke: #000000}
    .article.body.span.s1 {font-kerning: none}
    .article.body.span.s2 {text-decoration: underline ; font-kerning: none; color: #0b4cb4; -webkit-text-stroke: 0px #0b4cb4}
    .article.body.span.s3 {color: #0b4cb4}
    .article.body.span.s4 {text-decoration: underline ; font-kerning: none; -webkit-text-stroke: 0px #0b4cb4}
    .article.body.span.s5 {font: 7.4px Arial; font-kerning: none}
    .article.body.ul.ul1 {list-style-type: disc}
/* end amd styles */

.more {
	margin-left:3em;
	margin-top: 0.2em;
	color:green;
	}


div.apology {
	border:2px solid gray;margin-left:1em;padding:1em;
}

.btn-votes { float:left;}
.net-votes {float:left;}

button.up {border: 0; background: transparent;cursor:pointer;}
button.up:hover {background: #CFC; }
button.down {border: 0; background: transparent;cursor:pointer;}
button.down:hover {background: #FCC; }

.label-votes {font-weight:bold;margin-bottom:0;}
.vpanel p {margin:4px;}

/* used in news page to display both discussion and voting choices */
table.voting {width:100%; border:0;}
table.voting td {text-align:center;vertical-align:top;}
div.vpanel {text-align:center;}

/* collapsible lists */
.collapsibleList li{
		  list-style-image:url('/assets/graphics/button.png');
		  cursor:auto;
		}

li.collapsibleListOpen{
		  list-style-image:url('/assets/graphics/tri_down_18.png');
		  cursor:pointer;
		}

li.collapsibleListClosed{
		  list-style-image:url('/assets/graphics/tri_right_18.png');
		  cursor:pointer;
		}
.collapsibleList li ul li {margin-bottom:4px;}

div#in_bulk_queue {border:1px solid blue;padding:0.5em;}
div#in_bulk_queue ul li.error {color:red;}
div#in_bulk_queue ul li.queued {color:green;}
div#in_bulk_queue ul li.cancelled{color:blue;}
div#in_bulk_queue ul li.running {color:orange;}
