@import '/css/amd.css';
@import '/css/assets.css';


body  {

	font-family: "New Times Roman",Times,serif;
	font-size: 1em; color: black;
	max-width:1100px;
	 width:95vw;
	padding:6px;
	color:black;
	font-style: normal;
	font-weight: normal;
	margin-left:1em;
	margin-right:1em;
	}
body {background-color:#FFE;

}
 .normal {
	font-family: "New Times Roman",Times,serif;
	font-size: 1em;
	color: black;
	color:black;
	font-style: normal;
	font-weight: normal;
	}

p {margin-top: 1em;
	font-style: normal; font-size: 1em;
	}

h1 {}

h2 {font-family: Arial,san-serif; font-size: 1.5em; color: black;
	border-top:2px solid green;
	/* border-bottom:5px solid green; */
	}
h3 {font-family: Arial,san-serif;
	font-size: 1.25em; color: black;
	border-bottom: 1px solid green;
	}

h4 {font-family: Arial,san-serif; font-size: 1.0em; color: black;}

h5 {
    font-family: Arial,san-serif; font-size: 1.0em; color: black;
    font-weight:bold;
    margin-left:1em;
    }

h6 { margin-top:10px; padding-left: 5px; margin-bottom: 0px; max-width:600px;  font-size: 1em; color: black;  border-bottom:1px solid green; }

li {margin-bottom:0.5em;}

.italic { font-style: italic; }
.indent {margin: 0.5em 3em 0.5em 3em;}
.no-margin {margin:0;padding:0}
.bold {font-weight:bold;}

.centered {text-align:center;margin-left:auto;margin-right:auto;}
.right {text-align:right;}
div.right {float:right;}

.divh2 {font-family: Arial,san-serif; font-size: 1.5em; color: black; font-weight:bold;
	border-top:2px solid green;
	margin-top:1em;
	}


div.code {
	font-family:monospace;
	display:block;
	margin: 0.5em 3em 0.5em 3em;
	border:1px solid gray;
	padding:0.5em;
}



img {padding:5px;}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }


td {vertical-align: top;}


.clear {clear:both;}
.clearafter::after {
  content: "";
  clear: both;
  display: table;
}




.highlight {color:black;font-weight:bold;background-color:yellow;}
.greenlight {color:black;font-weight:bold;background-color:#3c9;}
.green {color:green;}
.red {color:red;}
.blue {color:blue;}
.greeni {color:green;font-style:italic;}
.redi {color:red;font-style:italic;}
.bluei {color:blue;font-style:italic;}
.small {font-size:0.8em;margin-top:3px;margin-bottom:3px;}
.grayback {background:#CCC;}
.blueback {background:#00F;color:#FFF;}
.greenback {background:#0C0;color:#FFF;}
.tright {text-align:right;}

blockquote, .quoted {
    display:block;
    border-left:2px solid #030;
    padding-left:1em;
    font-style:normal;
    color:#363;
    }
blockquote p, .quoted p {
    padding-left:1em;
}
.inner {margin-left:1em;}
.instr {font-style:italic;}
.caption {font-size:0.8em;text-align:center;}
.slogan {font-style:italic; text-align:center; border-top:1px solid green; border-bottom:1px solid green;}

.url {font-family:'courier-new',monospace;font-size:0.8em;margin-left:3em;}

button {
    background:#ccffcc;
}
button:hover {
    background:#99ff99;
}
button.help-button {
	background:#ccccff;
}

.input, input {background-color:#eee; }
.required {background-color:#ffa;}
input:invalid {color:red;}
input:valid {color:#000;}

div.box {
	border: 1px solid gray;
	padding: 3px;
}
div.head {margin: auto;
    /*width: 600px;*/
	vertical-align:bottom;
	}
div.float-left {
	float:left;
	display:block;
	margin-right:6px;
}
.left {
	display:block;float:left;
	margin:3px;margin-left:0px;
	overflow:auto;
	}

div.hidden {display:none; border:2px solid green;
	padding:3px;
}

div.help {
	display:block;
	margin:3px;
	border:2px solid #060;
	padding: 1em;
	background:#DDF;

}
div.inline {
	display:inline-block;
	padding:3px;
}

div.page_head {
	margin:auto;
   vertical-align:bottom;
   padding: 6px;
   }
p.title {
	text-align:center; color: #396;
	font-family:helvetica,arial,sans-serif;
	font-size: 3em;
	font-weight:bold;float:left;
	margin-left:auto;margin-right:auto;
	margin-bottom:0;
	width:90%;
	}

p.preview {
	color:#fff;
	background:#090;
	text-align:center;
	font-weight:bold;
	font-size:1.5em;
	margin-left:auto;margin-right:auto;
	margin-bottom:0;
	width:100%;
	float:left;
	}



.postsource {
	font-style:italic; margin-left:80px;
}

p.source {
    text-align:right;
	font-style:italic;
	margin-bottom: 0px;
	margin-right:2em;
	}

.presource {
    text-align:left;
	font-style:italic;
	margin-top: 0px;
	margin-bottom:6px;

	}

div.toon {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    }

.toon img {margin:auto;}
.toon .source{
    text-align:right;
	font-style:italic;
	margin-bottom: 0px;
	margin-right:2em;
	}
.toon .content {
    font-style:normal;
	margin-left:auto;margin-right:auto;
	padding-left:1em;
    max-width:650px;
	text-align:center;
}


.comment {font-family: arial; font-style: italic; font-size: 0.9em; color: #063; margin-left:1em; margin-right:1em;}
.toon .comment {text-align:center;}
.divh2 .comment {font-style:italic;font-size:0.4em;color:#000;margin-left:1em; margin-right:1em;}




div.album {
    float:left;width:360px;height:400px;
    display:block;margin:3px;border:1px solid gray;
    padding-left:5px;padding-right:5px;
}

.album img {display:block;
    max-width:350px;max-height:350px;
    margin-left:auto;
    margin-right:auto;
    }
.album p.contributor {
    font-size:0.8em;
    float:right;
	font-style:italic;
	margin:3px;
	margin-left:6px;
	}
.album p.caption {
    font-size:0.8em;
    text-align:left;
    font-style:normal;
    font-family:Helvetica,Arial,sanserif;
    margin:3px;
    margin-right:6px;
    float:left
    }
.album p.title {
    text-align:center;
    font-weight:bold;
}
.album p{margin-top:3px;margin-bottom:3px;}

/* Styles for asset displays
	old was thumbs, now asset class
	stick these asset objects inside a div class = asset
	*/

div.thumb {
/* make thumbs consistent height to floaters line up. */
    height:290px;
    display:block;
    overflow:auto;
    margin:3px; margin-right:6px; margin-left:0;
    float:left;
    border:1px solid gray;
    padding-left:5px;padding-right:5px;
    background:#FFF;
}

.thumb .caption {
    font-size:0.9em;text-align:center;
    font-style:normal;
    font-family:Helvetica,Arial,sans-serif;
    margin:3px;
    max-width:190px;
    }
.thumb a  {text-decoration:none;}

.thumb img {
        max-width:200px;
        max-height:200px;
        display:block;
        margin-left: auto;
        margin-right: auto
    }

.thumb .source {
    font-style:italic;
    font-size:0.8em;
	margin-top: 3px;
	margin-right:6px;
	text-align:right;
	}



div.warning {
    border:1px solid black;
    color:red;
    padding:3px;
    width: 50%;
}



table.alternate tr:nth-child(even) {background: #EEE}
table.alternate tr:nth-child(odd) {background: #FFF}

table.bordered {
	border:1px solid #030;
}
table.row-lines {
	border-collapse:collapse;
}
table.row-lines td{
	border-top:1px solid gray;
	padding:6px;
}

table tr.top td {border-top:1px solid gray;}

table.article_list {
	padding:3px; border:1px solid green;
	border-collapse:collapse;
	}
table.article_list tr td {padding:4px; font-size:0.9em;}
table.article_list tr th {padding:6px; font-weight:bold;text-align:center;
	background: #CFC;}



div.comment_box {
    margin:1em;
    border:1px solid #ccc;
    padding:3px;
    background-color:#FFF;

}
div.comment_box::after {
 content: "";
  clear: both;
  display: table;
}

div.comment_background {
	width:100%;
	background-color:#eee;
	padding:1em;
	border:1px solid #393;
}


.article .type, .topic {
	font-style:italic;
	margin-bottom:3px;
	}

.headline {
	font: bold 1em arial,serif;
	margin-top:3px;
	margin-left:0;
}


.source,  {
    text-align:right;
	font-style:normal;
	margin-bottom: 0px;
	margin-right:0em;
	font-size:0.9em;
	border-top:1px solid grey;
	}

.contributor {
	text-align:right;
	font-style:italic;
	display:inline;
	}


.date {
	font-weight:normal;
	font-style:italic;
	padding-left:1em;

	}

/*
.article .content,  .article .body {
	font-weight:normal;
	display:inline-block;
	max-width:550px;
	margin-left:1em;

	float:left;
}
 */
 .article {
	margin-left:1em;
	border-top:1px solid #360;
    max-width:900px;
}

 .story {
	min-width:350px;
	display:block;
	overflow:hidden;
}

 .story .content {
	font-weight:normal;
	display:inline-block;
	max-width:550px;
	margin-left:1em;
	/* width:100%; */

}



.status-display {
	background-color:#9F9;width:15em;
	border:1px solid #0C0;
	margin:6px;
}

.pop {
	text-align:center;
	font-size:0.9em;
	margin-bottom:1em;
	margin-top:0;
	border:1px solid gray;
	padding: 4px;
}
.content .subhead {
	font-weight:bold;
	text-decoration:underline;
	margin-bottom:0;

}
.content .subarticle {
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:0.5em;
}

 .more , .more  {

	margin-top: 0.2em;
	color:#009;
	}


 .ed_comment {

    text-align:left;
    margin-left:2em;
    margin-right:2em;
    margin-top:6px;
    font-style:italic;
    color:#063;

    }



 .story_comment_box {
    border:1px solid green;
    margin-top:1em;
    padding:4px;
}



div.apology {
	border:2px solid gray;margin-left:1em;padding:1em;
}

.btn-votes {display:inline-block;}
.net-votes {display:inline-block;}

button.up {border: 0; background: transparent;cursor:pointer;}
button.up:hover {background: #CFC; }
button.down {border: 0; background: transparent;cursor:pointer;}
button.down:hover {background: #FCC; }

.label-votes {font-weight:bold;margin-bottom:0;}

/* used in news page to display both discussion and voting choices */
table.voting {width:100%; border:0;}
table.voting td {text-align:center;vertical-align:top;}

div.pop {
	width:100%;
	text-align:center;
}

div.vpanel {display:inline;}

/* collapsible lists */
.collapsibleList li{
		  list-style-image:url('/assets/graphics/button.png');
		  cursor:auto;
		}

li.collapsibleListOpen{
		  list-style-image:url('/assets/graphics/tri_down_18.png');
		  cursor:pointer;
		}

li.collapsibleListClosed{
		  list-style-image:url('/assets/graphics/tri_right_18.png');
		  cursor:pointer;
		}
.collapsibleList li ul li {margin-bottom:4px;}

div#in_bulk_queue {border:1px solid blue;padding:0.5em;}
div#in_bulk_queue ul li.error {color:red;}
div#in_bulk_queue ul li.queued {color:green;}
div#in_bulk_queue ul li.cancelled{color:blue;}
div#in_bulk_queue ul li.running {color:orange;}


img.logo   {
/* 	margin:1em; */

	display: inline-block;
	margin-left:1em;
/* 	padding-top:1em; */
}
.page_head {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-weight: bold;

}
.page_head .head {
	margin-top:6px;
	margin-bottom:6px;
	font-size:2em;
}

.page_top {
	text-align:right;
	height:100px;
	display:inline-block;
}
/*amd flames*/
.page_head .page_top p {

	font-weight: bold;
	font-size: 1.25em;
	margin-bottom:6px;
}

.page_head .subhead {
	font-family: times,serif;
	font-size:1em;
	margin-top:6px;
	margin-bottom:6px;
	font-style:italic;
	font-weight:bold;
}

