.btn-votes {cursor:pointer; float:left;}
.net-votes {float:left;}
/*
.btn-votes input[type="button"]{width:32px;height:32px;border:0;cursor:pointer;}
*/
.btn-votes button {border: 0; background: transparent;}
/*
.up {background:url('/assets/graphics/up.png')}
.down {background:url('/assets/graphics/down.png')}
.meh {background:url('/assets/graphics/q-icon.png')}
*/
/*
.meh:disabled {background:url('/assets/graphics/meh_off.png')}
.up:disabled {background:url('/assets/graphics/up_off.png')}
.down:disabled {background:url('/assets/graphics/down_off.png')}
*/
/*
.meh:disabled {background:none}
.up:disabled {background:none}
.down:disabled {background:none}
*/

.label-votes {font-weight:bold;margin-bottom:0;}
.vpanel p {margin:4px;}

/* used in news page to display both discussion and voting choices */
table.voting {width:100%; border:0;}
table.voting td {text-align:center;vertical-align:top;}
div.vpanel {text-align:center;}
