ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

DirectoryIndex index.html index-down.php  index.php 

Options +FollowSymLinks

RewriteEngine on
RewriteRule ^view_asset/([0-9]+)$ /scripts/asset_c.php?id=$1
RewriteRule init.php /init.php

