ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

DirectoryIndex index.html index-down.php  index.php

Options +FollowSymLinks
Options -Indexes


 <IfModule mod_rewrite.c>
     RewriteEngine On
     RewriteRule ^test2$ /developer/htaccess_tester.php
     RewriteRule ^scripts/news_article_c.php /get-article.php [L]
 </IfModule>


/scripts/news_article_c.php?id=2161
